[{:arachne/name :org.arachne-framework.template/clojure-remote
  :arachne/inits ["config/clojure_remote.clj"]
  :arachne/dependencies [:org.arachne-framework/pedestal-assets
                         :org.arachne-framework/arachne-figwheel]}]
